@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #1173d4;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
}

body {
  font-family: "Ubuntu Sans Mono Variable", monospace;
}

/* Screen reader only - oculta visualmente pero mantiene accesible */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.password-strength-weak {
  background-color: red;
  width: 20%;
}

.password-strength-medium {
  background-color: orange;
  width: 50%;
}

.password-strength-strong {
  background-color: #28a745;
  width: 100%;
}