@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #1173d4;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
}

body {
  font-family: "Ubuntu Sans Mono Variable", monospace;
}