---
import Lock from "@/assets/svg/lock.svg";
---

<header class="border-b border-slate-200 dark:border-slate-800">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center gap-2">
        <Lock class="size-8 text-primary" />
        <h1 class="text-xl font-bold text-slate-900 dark:text-white">
          Tranca Seguro
        </h1>
      </div>
      <nav class="hidden md:flex items-center gap-8">
        <a
          class="text-md font-medium text-slate-600 dark:text-slate-300 hover:text-primary dark:hover:text-primary transition-colors"
          href="https://www.linkedin.com/in/edwin-contreras-1bb516247/"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >
        <a
          class="text-md font-medium text-slate-600 dark:text-slate-300 hover:text-primary dark:hover:text-primary transition-colors"
          href="https://github.com/EdGonzz/tranca-seguro"
          target="_blank"
          rel="noopener noreferrer">Github</a
        >
      </nav>
    </div>
  </div>
</header>
