---
import PasswordLabel from "@/components/PasswordLabel.astro";
import Inputs from "./Inputs.astro";
---

<main
  class="flex-grow flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md space-y-8">
    <header class="text-center">
      <h2 class="text-3xl font-extrabold text-slate-900 dark:text-white">
        Generador de Contraseñas Seguras
      </h2>
      <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
        Cree contraseñas fuertes y únicas para proteger sus cuentas.
      </p>
    </header>

    <form
      class="bg-white flex flex-col gap-6 dark:bg-slate-900/40 p-8 rounded-lg shadow-md space-y-6 border border-slate-200 dark:border-slate-800"
    >
      <PasswordLabel />
      <Inputs />
      <button
        id="generate-password"
        class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary transition-all hover:scale-102"
        type="submit"
      >
        Generar Contraseña
      </button>
    </form>
  </div>
</main>

<script>
  import { updatePassword } from "@/tools/updatePassword";
  import { toast } from "@/tools/toast";

  const $generatePassword = document.getElementById(
    "generate-password"
  ) as HTMLButtonElement;

  $generatePassword.addEventListener("click", (e) => {
    e.preventDefault();

    updatePassword();
    toast({
      message: "Contraseña Generada",
      type: "success",
    });
  });

  updatePassword();
</script>
