---
import Copy from "@/assets/svg/copy.svg";
import Eye from "@/assets/svg/eye.svg";
---

<label for="generated-password" class="text-sm"
  >Tu contraseña segura <span
    id="text-copied"
    class="hidden text-green-600 animate-pulse"
    >ha sido copiada el portapapeles</span
  ></label
>
<div class="relative">
  <input
    class="w-full pr-12 pl-4 py-3 bg-slate-100 dark:bg-slate-800 border border-slate-200 dark:border-slate-700 rounded-md text-sm text-slate-700 dark:text-slate-300 font-mono tracking-wider"
    id="generated-password"
    placeholder="Su contraseña segura aparecerá aquí"
    readonly=""
    type="password"
  />
  <button
    id="show-password"
    aria-label="Copiar contraseña"
    class="absolute inset-y-0 right-8 flex items-center px-4 text-gray-400 hover:text-primary transition-all"
    type="button"
  >
    <Eye />
  </button>
  <button
    id="copy-password"
    aria-label="Copiar contraseña"
    class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-400 hover:text-primary transition-all"
    type="button"
  >
    <Copy />
  </button>
</div>

<script>
  const $generatedPassword = document.getElementById(
    "generated-password"
  ) as HTMLInputElement;
  const $showPassword = document.getElementById(
    "show-password"
  ) as HTMLButtonElement;
  const $copyPassword = document.getElementById(
    "copy-password"
  ) as HTMLButtonElement;
  const $textCopied = document.getElementById("text-copied") as HTMLSpanElement;

  $copyPassword.addEventListener("click", () => {
    if ($generatedPassword.value) {
      navigator.clipboard.writeText($generatedPassword.value);
      $textCopied.classList.remove("hidden");
      setTimeout(() => {
        $textCopied.classList.add("hidden");
      }, 3000);
    }
  });

  $showPassword.addEventListener("click", () => {
    if ($generatedPassword.type === "password") {
      $generatedPassword.type = "text";
    } else {
      $generatedPassword.type = "password";
    }
  });
</script>
