---
import "@/styles/global.css";
import "@/styles/toast.css";
import "@fontsource-variable/ubuntu-sans-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Generador de contraseñas seguras y únicas. Cree contraseñas fuertes con opciones personalizables para proteger sus cuentas en línea." />
    <meta name="keywords" content="generador de contraseñas, contraseñas seguras, seguridad, password generator" />
    <meta name="author" content="Edwin Contreras" />
    <meta name="application-name" content="Tranca Seguro" />
    <meta name="theme-color" content="#3b82f6" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://tranca-seguro.vercel.app/" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Tranca Seguro - Generador de Contraseñas Seguras" />
    <meta property="og:description" content="Cree contraseñas fuertes y únicas para proteger sus cuentas en línea." />
    <meta property="og:site_name" content="Tranca Seguro" />
    <meta property="og:url" content="https://tranca-seguro.vercel.app/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/EdGonzz/tranca-seguro/refs/heads/main/public/device-mockup.webp" />
    <meta property="og:image:alt" content="Captura de pantalla de la aplicación móvil 'Tranca Seguro', un generador de contraseñas seguras. La interfaz muestra un diseño oscuro con una contraseña oculta, un indicador de fortaleza en color verde marcado como 'Fuerte' y un selector para ajustar la longitud de la clave." />
    <meta property="og:image:width" content="1200" />
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Tranca Seguro - Generador de Contraseñas Seguras" />
    <meta name="twitter:description" content="Cree contraseñas fuertes y únicas para proteger sus cuentas en línea." />
    <meta name="twitter:site" content="@Ed_Gonzz_" />
    <meta name="twitter:creator" content="@Ed_Gonzz_" />
    <meta property="twitter:domain" content="edgonzz.github.io" />
    <meta name="twitter:url" content="https://tranca-seguro.vercel.app/" />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/EdGonzz/tranca-seguro/refs/heads/main/public/device-mockup.webp" />
    <meta name="twitter:image:alt" content="Captura de pantalla de la aplicación móvil 'Tranca Seguro', un generador de contraseñas seguras. La interfaz muestra un diseño oscuro con una contraseña oculta, un indicador de fortaleza en color verde marcado como 'Fuerte' y un selector para ajustar la longitud de la clave." />
    <meta name="twitter:image:width" content="1200" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tranca Seguro" />
    <link rel="manifest" href="/site.webmanifest" />
    
    <title>Tranca Seguro - Generador de Contraseñas Seguras</title>
  </head>
  <body
    class="flex flex-col min-h-screen bg-background-light dark:bg-background-dark font-display text-slate-800 dark:text-slate-200"
  >
    <slot />
  </body>
</html>

<style>
  ::root {
    color-scheme: light dark;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu Sans Variable", sans-serif;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
